.Container_Projetos_Black {
    background-color: rgb(6, 20, 13);
    color: white;
   

}
.Container_Projetos {
    height: 100vh;
}
.Title_Projetos {
    padding-top: 10px;
}
.Title_Projetos  h1{
    margin: 10px;
}
.Container_Projetos_Black>section>.Title_Projetos>.Projetos_Container>.containerProjetosFrontEnd>.Projetos_Container {

    color: rgb(255, 255, 255);
}

.Container_Projetos_Black>section>.Title_Projetos>.Projetos_Container>.containerProjetosFrontEnd >.Projetos_Container>.ConfigProjeto_Container {
    background-color: var(--background-color);

}
.Container_Projetos_Light>section>.Title_Projetos>.Projetos_Container>.containerProjetosFrontEnd>.Projetos_Container>.ConfigProjeto_Container {
    background: rgb(226, 250, 213);

}
.Projetos_Container {
    display: flex;
    justify-content: center;
}

.Container_Projetos_Light {
    background-color: rgb(192, 222, 207);
    color: rgb(0, 0, 0);
}


.Title_Projetos {
    text-align: center;
}

.buttonsProjetos {
    display: flex;
    gap: 4px;
   justify-content: center;
   

}


.buttonsProjetos > button {
    font-size: 15px;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;

}
.Container_Projetos_Black > section >  .Title_Projetos > .buttonsProjetos > button {
    background-color: rgb(192, 222, 207);

}


.Container_Projetos_Light > section >  .Title_Projetos > .buttonsProjetos > button {
    background-color: rgb(23,81,40);
    color: white;

}








@media (max-width: 690px) {
    .Container_Projetos {
        height: 100%;
    
 
    }

 
}

